<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de Viagens</title>

    <link rel="shortcut icon" href="images/016logo.png" type="image/x-icon">
<link rel="stylesheet" href="images/">
    <!-- css bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- css link -->
    <link rel="stylesheet" href="../style.css">

</head>
<body>
    
<!-- header -->

<header>

    <div id="menu-bar" class="fas fa-bars"></div>

    <a href="#" class="logo"><img src="images/016logo.png" alt="" width="40px" ><span>Belezas Naturais do </span>Japão</a>

    <nav class="navbar">
        <a href="../index.html">Página Inicial</a>
        <a href="../index.html#about">Gastronomia</a>
        <a href="../index.html#packages">Destaque</a>
        <a href="../index.html#contact">Mapa</a>
    </nav>

    <div class="icons">
        <i class="fas fa-search" id="search-btn"></i>
        <i class="fas fa-user" id="login-btn"></i>
    </div>

    <form action="" class="search-bar-container">
        <input type="search" id="search-bar" placeholder="search here...">
        <label for="search-bar" class="fas fa-search"></label>
    </form>

</header>

<!-- destino dos sonhos -->

<section class="destiny" id="destinoSonho">

    <div class="row">

        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/B5DvTmMmveM?si=J_OA6BrBZkDYLlRD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

    <div class="content">
        <h3>Destino dos Sonhos</h3>
        <p>O Japão é um destino de sonho para muitos viajantes, devido à sua cultura milenar, belezas naturais, tecnologia avançada e hospitalidade:</p>
        <p><strong>Tóquio</strong>: Uma cidade eclética, onde o antigo e o moderno se encontram. Alguns lugares a visitar são o Shibuya Crossing, o Mercado de Peixes Tsukiji, Akihabara e a Tokyo Skytree Town.</p>
        <p><strong>Festivais</strong>: O Japão celebra vários festivais ao longo do ano, como o Hanami (festival das flores de cerejeira) e o Gion Matsuri</p>
        <p>Prepare-se para explorar praias deslumbrantes, mergulhar em recifes coloridos e experimentar a culinária local irresistível.</p>
        
    </div>

    </div>

</section>

<section class="packages">

    <div class="box-container">

        <div class="box">
            <img src="images/32takayama.avif" alt="">
            <div class="content">
                <h3>Takayama</h3>
                <p>Takayama é uma cidade na montanhosa província de Gifu, no Japão. As ruas estreitas de seu distrito histórico Sanmachi Suji são repletas de casas de madeira de comerciantes que remontam ao Período Edo, além de muitos pequenos museus. A cidade é famosa pelo festival bianual de Takayama, uma volta a meados do século 17, celebrando a primavera e o outono com desfiles que apresentam carros alegóricos dourados e enfeitados e shows de fantoches.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d412399.50015442446!2d136.87380176721345!3d36.14535178666772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6002a342a14fc349%3A0xd4f2fb84f0b8e3dc!2sTakayama%2C%20Gifu%2C%20Jap%C3%A3o!5e0!3m2!1spt-BR!2sbr!4v1732858041324!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="box">
            <img src="images/22Asakusa.jpg" alt="">
            <div class="content">
                <h3>Asakusa</h3>
                <p>Asakusa mantém a atmosfera de uma Tóquio antiga, com lojas de artesanato tradicionais e barracas de comida de rua ao longo da Nakamise Street, perto do antigo templo Sensō-ji. O parque de diversões Hanayashiki, da metade do século 19, tem brinquedos emocionantes e cafés, enquanto o parque Kuritsu Sumida, às margens do rio, recebe festivais regulares e exibições de fogos de artifício. Bares izakaya casuais pontilham o bairro, junto com os restaurantes yakitori que servem espetos de carne grelhada e cerveja.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12957.48594596748!2d139.78845035188718!3d35.717081333006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ec2047f5333%3A0x7c84fd3881c74067!2sAsakusa%2C%20Taito%2C%20T%C3%B3quio%20111-0032%2C%20Jap%C3%A3o!5e0!3m2!1spt-BR!2sbr!4v1732858152291!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="box">
            <img src="images/26pavilhaodeouro.avif" alt="Templo do Pavilhão Dourado">
            <div class="content">
                <h3>Templo do Pavilhão Dourado</h3>
                <p>Kinkaku-ji (Templo do Pavilhão Dourado) é com certeza, um dos locais mais visitados na antiga capital do Japão, Kyoto. Trata-se de um templo zen budista, rodeado pelo Kyōko-chi (lago espelhado) e por um belo jardim. Oficialmente, o templo chama-se Rokuon-ji e sua estrutura é simplesmente fascinante pelo fato de ser praticamente todo coberto de folhas de ouro puro.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3266.694399987464!2d135.7266681752211!3d35.03937436496671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6001a820c0eb46bd%3A0xee4272b1c22645f!2sTemplo%20do%20Pavilh%C3%A3o%20Dourado!5e0!3m2!1spt-BR!2sbr!4v1732858416256!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>


    </div>

</section>
<!-- cultura local -->

<section class="destiny" id="culturaLocal">

    <div class="row">

        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qKY7IJVz5D4?si=nYQl1eEeiP2RI3nN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

    <div class="content">
        <h3>Cultura Local</h3>
        <p>A cultura japonesa é rica em tradições, ritos, símbolos e valores que permeiam o dia a dia da população. A cultura japonesa se desenvolveu de forma distinta de outras culturas, devido à localização do país como ilha, que permitiu minimizar a influência de outras culturas por séculos. </p>
        <p><strong>Ritos e tradições:</strong> A cultura japonesa é marcada por ritos de passagem, festivais de celebração e roupas e estilos únicos. </p>
        <p><strong>Respeito: </strong>O respeito às pessoas e às regras é um valor muito presente na cultura japonesa. </p>
        <p><strong>Ikebana:</strong> A arte japonesa dos arranjos florais, que se destaca pelo uso das cores, ritmo e design simples e elegante.</p>
    </div>

    </div>

</section>

<section class="packages">

    <div class="box-container">

        <div class="box">
            <img src="images/27chaverde.jpg" alt="">
            <div class="content">
                <h3>Chá verde</h3>
                <p>Cerimônia do chá ou Chanoyu, que é uma prática ritualística de preparação e consumo de chá verde..</p>
            </div>
        </div>

        <div class="box">
            <img src="images/28culcurvaa.jpg" alt="">
            <div class="content">
                <h3>Reverência Japonesa</h3>
                <p>Os japoneses também têm o costume de se curvar em sinal de respeito e gratidão.</p>
            </div>
        </div>

        <div class="box">
            <img src="images/29culflooor.webp" alt="">
            <div class="content">
                <h3>Árvore de Cerejeira</h3>
                <p>Delicie-se com os sabores autênticos da gastronomia regional e descubra os segredos da culinária local.</p>
            </div>
        </div>


    </div>

</section>


<!-- aventuras inesqueciveis -->

<section class="destiny" id="aventuraInesqueciveis">

    <div class="row">

        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/g4bDe-OV4xA?si=shbhZ5SQJBOAmAOu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

    <div class="content">
        <h3>Aventuras Inesquecíveis</h3>
        <p>O Japão possui diversos pontos turísticos, incluindo cidades, templos, montanhas e arranha-céus: </p>
        <p><strong>Monte Fuji</strong>: Uma montanha de 3.776 metros de altura, localizada a oeste de Tóquio. É um ícone turístico e um portal para um novo mundo, de acordo com a cultura local. </p>
        <p><strong>Tóquio City Hall</strong>: Um dos maiores arranha-céus do mundo, com 243 metros de altura e 48 andares. É a sede do Governo Metropolitano de Tóquio e um símbolo de poder do país.</p> 
        <p><strong>Shibuya</strong>: Uma das regiões mais populosas do mundo, localizada em Tóquio. É o local do cruzamento mais movimentado do planeta e abriga um dos maiores shopping centers do país.</p> 
        <p><strong>Meiji Jingu</strong>: Um lindo templo Shintoista. </p>
        <p><strong>Asakusa</strong>: O templo budista mais antigo da cidade. </p>
        <p><strong>Roppongi Hills</strong>: Uma região onde se pode ver o pôr do sol e a cidade do alto. </p>
        <p><strong>Akihabara</strong>: Um local para explorar eletrônicos</p>

    </div>

</section>

<section class="packages">

    <div class="box-container">

        <div class="box">
            <img src="images/30montanha.jpg" alt="">
            <div class="content">
                <h3></i> Fuji-Hakone-Izu</h3>
                <p>Nacional Fuji-Hakone-Izu, compreendendo uma variedade de maravilhas naturais, tem tudo isso e as paisagens contrastantes são de tirar o fôlego a explorar. A principal atracção é o icónico Monte Fuji que é tão distinto na sua aparência e embora não seja a única razão pela qual é o parque nacional mais popular do Japão, certamente ajuda. .</p>
            </div>
        </div>

        <div class="box">
            <img src="images/31ZOO.jpg" alt="">
            <div class="content">
                <h3></i>Panda no Zoológico Ueno
                </h3>
                <p>Todas as atrações, os pandas-gigantes são os mais famosos. Desde que os pandas gêmeos nasceram, em junho de 2021, muitos visitantes japoneses vieram de todo o país para ver esse par adorável. O zoológico de 14,4 hectares é dividido em duas partes. O Jardim Oriental abriga elefantes, gorilas e tigres, além de animais típicos do país</p>
            </div>
        </div>

        <div class="box">
            <img src="images/32disney.webp" alt="">
            <div class="content">
                <h3></i>Disney Tokyo</h3>
                <p>A Tokyo Disneyland foi o primeiro parque temático da Disney construído fora dos Estados Unidos em 1983. Em 2001 construíram a DisneySEA. Ambos são muito legais, repletos de atrações divertidas, comidas temáticas e personagens!</p>
            </div>
        </div>


    </div>

</section>

<!-- footer -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>links rápidos</h3>
            <a href="../index.html">início</a>
            <a href="#destinoSonho">destino dos sonhos</a>
            <a href="#culturaLocal">cultura local</a>
            <a href="#aventuraInesqueciveis">aventuras inesquecíveis</a>
        </div>
        <div class="box">
            <h3>Siga-nos</h3>
            <a href="https://www.facebook.com/" target="_blank "><i class="fab fa-facebook-f"></i>  facebook</a>
            <a href="https://www.instagram.com/" target="_blank" ><i class="fab fa-instagram"></i>  instagram</a>
            <a href="https://x.com/" target="_blank"><i class="fab fa-twitter"></i>  twitter</a>
        </div>

    </div>

    <h1 class="credit"> criado por <span>Juliana Marques</span> & <span>Filipe Wildes</span></h1>

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!-- js link  -->
<script src="../script.js"></script>

</body>
</html>